<!DOCTYPE html>
<html>
<head>
  <title>To Do List</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_importmap_tags %>

</head>
<body>
  <div class="container_main">
    <div id="myDIV" class="header">
      <h2>To Do List</h2>
      <%= form_with(model: @todo, local: false) do |form| %>
        <%= form.text_field :title, placeholder: 'Digite sua tarefa...', id: 'myInput' %>
        <%= form.submit 'Inserir', class: 'addBtn' %>
      <% end %>
    </div>

    <div class="scrollable-list">
    <ul id="myUL">
      <% if @todos.any? %>
        <% @todos.each do |todo| %>
          <li data-id="<%= todo.id %>" class="<%= 'checked' if todo.completed %>">
            <%= todo.title %>
            <span class="close" data-id="<%= todo.id %>">×</span>
          </li>
        <% end %>
      <% else %>
        <p id="empty_menssage">Lista vazia, insira uma tarefa.</p>
      <% end %>
    </ul>
    </div>
  </div>
</body>
</html>